/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Plotly.js
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* PLotly.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* plotly.js's modebar's z-index is 1001 by default
 * https://github.com/plotly/plotly.js/blob/7e4d8ab164258f6bd48be56589dacd9bdd7fded2/src/css/_modebar.scss#L5
 * In case a dropdown is above the graph, the dropdown's options
 * will be rendered below the modebar
 * Increase the select option's z-index
 */

/* This was actually not quite right -
   dropdowns were overlapping each other (edited October 26)

.Select {
    z-index: 1002 !important;
}*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative !important;
    width: 100% !important;
    max-width: 960px !important;
    margin: 0 auto !important;
    padding: 0 20px !important;
    box-sizing: border-box !important; }
  .column,
  .columns {
    width: 100% !important;
    float: left !important;
    box-sizing: border-box !important; }
  
  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .container {
      width: 85% !important;
      padding: 0 !important; }
  }
  
  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .container {
      width: 80% !important; }
    .column,
    .columns {
      margin-left: 4% !important; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0 !important; }
  
    .one.column,
    .one.columns                    { width: 4.66666666667% !important; }
    .two.columns                    { width: 13.3333333333% !important; }
    .three.columns                  { width: 22% !important;            }
    .four.columns                   { width: 30.6666666667% !important; }
    .five.columns                   { width: 39.3333333333% !important; }
    .six.columns                    { width: 48% !important;            }
    .seven.columns                  { width: 56.6666666667% !important; }
    .eight.columns                  { width: 65.3333333333% !important; }
    .nine.columns                   { width: 74.0% !important;          }
    .ten.columns                    { width: 82.6666666667% !important; }
    .eleven.columns                 { width: 91.3333333333% !important; }
    .twelve.columns                 { width: 100% !important; margin-left: 0 !important; }
  
    .one-third.column               { width: 30.6666666667% !important; }
    .two-thirds.column              { width: 65.3333333333% !important; }
  
    .one-half.column                { width: 48% !important; }
  
    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667% !important; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333% !important; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26% !important;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667% !important; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333% !important; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52% !important;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667% !important; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333% !important; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0% !important;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667% !important; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333% !important; }
  
    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667% !important; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333% !important; }
  
    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52% !important; }
  
  }
  
  
  /* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* NOTE
  html is set to 62.5% so that all the REM measurements throughout Skeleton
  are based on 10px sizing. So basically 1.5rem = 15px :) */
  html {
    font-size: 62.5% !important; }
  body {
    font-size: 1.5em !important; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6 !important;
    font-weight: 400 !important;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: rgb(50, 50, 50) !important; }
  
  
  /* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-weight: 300 !important; }
  h1 { font-size: 4.5rem !important; line-height: 1.2 !important;  letter-spacing: -.1rem !important; margin-bottom: 2rem !important; }
  h2 { font-size: 3.6rem !important; line-height: 1.25 !important; letter-spacing: -.1rem !important; margin-bottom: 1.8rem !important; margin-top: 1.8rem !important;}
  h3 { font-size: 3.0rem !important; line-height: 1.3 !important;  letter-spacing: -.1rem !important; margin-bottom: 1.5rem !important; margin-top: 1.5rem !important;}
  h4 { font-size: 2.6rem !important; line-height: 1.35 !important; letter-spacing: -.08rem !important; margin-bottom: 1.2rem !important; margin-top: 1.2rem !important;}
  h5 { font-size: 2.2rem !important; line-height: 1.5 !important;  letter-spacing: -.05rem !important; margin-bottom: 0.6rem !important; margin-top: 0.6rem !important;}
  h6 { font-size: 2.0rem !important; line-height: 1.6 !important;  letter-spacing: 0 !important; margin-bottom: 0.75rem !important; margin-top: 0.75rem !important;}
  
  p {
    margin-top: 0 !important; }
  
  
  /* Blockquotes
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  blockquote {
    border-left: 4px lightgrey solid !important;
    padding-left: 1rem !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    margin-left: 0rem !important;
  }
  
  
  /* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  a {
    color: #1EAEDB !important; 
    text-decoration: underline !important;
    cursor: pointer !important;}
  a:hover {
    color: #0FA0CE !important; }
  
  
  /* Buttons
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block !important;
    height: 38px !important;
    padding: 0 30px !important;
    color: #555 !important;
    text-align: center !important;
    font-size: 11px !important;
    font-weight: 600 !important;
    line-height: 38px !important;
    letter-spacing: .1rem !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    white-space: nowrap !important;
    background-color: transparent !important;
    border-radius: 4px !important;
    border: 1px solid #bbb !important;
    cursor: pointer !important;
    box-sizing: border-box !important; }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    color: #333 !important;
    border-color: #888 !important;
    outline: 0 !important; }
  .button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    color: #FFF !important;
    background-color: #33C3F0 !important;
    border-color: #33C3F0 !important; }
  .button.button-primary:hover,
  button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover,
  .button.button-primary:focus,
  button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    color: #FFF !important;
    background-color: #1EAEDB !important;
    border-color: #1EAEDB !important; }
  
  
  /* Forms
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    height: 38px !important;
    padding: 6px 10px !important; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff !important;
    border: 1px solid #D1D1D1 !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    box-sizing: border-box !important; 
    font-family: inherit !important;
    font-size: inherit !important; /*https://stackoverflow.com/questions/6080413/why-doesnt-input-inherit-the-font-from-body*/}
  /* Removes awkward default styles on some inputs for iOS */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    -webkit-appearance: none !important;
       -moz-appearance: none !important;
            appearance: none !important; }
  textarea {
    min-height: 65px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #33C3F0 !important;
    outline: 0 !important; }
  label,
  legend {
    display: block !important;
    margin-bottom: 0px !important; }
  fieldset {
    padding: 0 !important;
    border-width: 0 !important; }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline !important; }
  label > .label-body {
    display: inline-block !important;
    margin-left: .5rem !important;
    font-weight: normal !important; }
  
  
  /* Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  ul {
    list-style: circle inside !important; }
  ol {
    list-style: decimal inside !important; }
  ol, ul {
    padding-left: 0 !important;
    margin-top: 0 !important; }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin: 1.5rem 0 1.5rem 3rem !important;
    font-size: 90% !important; }
  li {
    margin-bottom: 1rem !important; }
  
  
  /* Tables
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  table {
    border-collapse: collapse !important;
  }
  th:not(.CalendarDay),
  td:not(.CalendarDay) {
    padding: 12px 15px !important;
    text-align: left !important;
    border-bottom: 1px solid #E1E1E1 !important; }
  th:first-child:not(.CalendarDay),
  td:first-child:not(.CalendarDay) {
    padding-left: 0 !important; }
  th:last-child:not(.CalendarDay),
  td:last-child:not(.CalendarDay) {
    padding-right: 0 !important; }
  
  
  /* Spacing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  button,
  .button {
    margin-bottom: 0rem !important; }
  input,
  textarea,
  select,
  fieldset {
    margin-bottom: 0rem !important; }
  pre,
  dl,
  figure,
  table,
  form {
    margin-bottom: 0rem !important; }
  p,
  ul,
  ol {
    margin-bottom: 0.75rem !important; }
  
  /* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .u-full-width {
    width: 100% !important;
    box-sizing: border-box !important; }
  .u-max-full-width {
    max-width: 100% !important;
    box-sizing: border-box !important; }
  .u-pull-right {
    float: right !important; }
  .u-pull-left {
    float: left !important; }
  
  
  /* Misc
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  hr {
    margin-top: 3rem !important;
    margin-bottom: 3.5rem !important;
    border-width: 0 !important;
    border-top: 1px solid #E1E1E1 !important; }
  
  
  /* Clearing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  /* Self Clearing Goodness */
  .container:after,
  .row:after,
  .u-cf {
    content: "" !important;
    display: table !important;
    clear: both !important; }
  
  
  /* Media Queries
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /*
  Note: The best way to structure the use of media queries is to create the queries
  near the relevant code. For example, if you wanted to change the styles for buttons
  on small devices, paste the mobile query code up in the buttons section and style it
  there.
  */
  
  
  /* Larger than mobile */
  @media (min-width: 400px) {}
  
  /* Larger than phablet (also point when grid becomes active) */
  @media (min-width: 550px) {}
  
  /* Larger than tablet */
  @media (min-width: 750px) {}
  
  /* Larger than desktop */
  @media (min-width: 1000px) {}
  
  /* Larger than Desktop HD */
  @media (min-width: 1200px) {}
